name: Deploy to GitHub Pages

on:
  # Se ejecuta cada vez que haces push a la rama 'main'
  push:
    branches: [ master ]
  # Permite ejecutarlo manualmente desde la pestaña Actions en GitHub
  workflow_dispatch:

# Permisos necesarios para que el bot de GitHub pueda desplegar
permissions:
  contents: read
  pages: write
  id-token: write

# Evita que despliegues simultáneos se pisen entre sí
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Detectar gestor de paquetes
        id: detect-package-manager
        run: |
          if [ -f "${{ github.workspace }}/yarn.lock" ]; then
            echo "manager=yarn" >> $GITHUB_OUTPUT
            echo "command=install" >> $GITHUB_OUTPUT
            echo "runner=yarn" >> $GITHUB_OUTPUT
            exit 0
          elif [ -f "${{ github.workspace }}/package.json" ]; then
            echo "manager=npm" >> $GITHUB_OUTPUT
            echo "command=ci" >> $GITHUB_OUTPUT
            echo "runner=npx --no-install" >> $GITHUB_OUTPUT
            exit 0
          else
            echo "No se encontró gestor de paquetes."
            exit 1
          fi

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: ${{ steps.detect-package-manager.outputs.manager }}

      - name: Instalar dependencias
        run: ${{ steps.detect-package-manager.outputs.manager }} ${{ steps.detect-package-manager.outputs.command }}

      - name: Construir el sitio con Astro
        run: |
            ${{ steps.detect-package-manager.outputs.runner }} astro build

      - name: Subir artefacto (Upload pages artifact)
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Desplegar a GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4